footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: -6em;
}

.footer-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-left {
  flex: 1;
  background: #d9d9d9;
  border-radius: 40px;
  padding: 30px 24px;
  position: relative;
  box-sizing: border-box;
}
.footer-columns {
  display: flex;
  flex-wrap: wrap;
}

.footer-left::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 250px;
  height: 90px;
  background: #ffffff;
  border-top-left-radius: 40px;
}

.footer-logo-box {
  width: fit-content;
  min-height: 56px;
  background: #fff;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 20px;
  margin-bottom: 40px;
}

.logo-icon {
  width: 54px;
  flex-shrink: 0;
}

.logo-text {
  font-size: 28px;
  font-weight: 600;
  color: #111;
  border-left: #111 1px solid;
  padding-left: 16px;
}

.footer-columns {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-column h4 {
  font-size: 18px;
  font-weight: 700;
  color: #111;
  margin: 0;
}

.footer-column a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  line-height: 1.5;
  transition: 0.2s ease;
}

.footer-column a:hover {
  color: #fe4d50;
}

.footer-column p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.arrow {
  width: 10px;
  height: 10px;
  border-top: 2px solid #ef2b2d;
  border-right: 2px solid #ef2b2d;
  transform: rotate(45deg);
  margin-top: 6px;
  flex-shrink: 0;
}

.support-btn {
  margin-top: 40px;
  width: 100%;
  max-width: 180px;
  height: 44px;
  border: none;
  border-radius: 999px;
  background: #ef2b2d;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
}

.support-btn:hover {
  background-color: #ff6a6d;
}

.footer-right {
  width: 100%;
  background: #ef1820;
  border-radius: 40px;
  padding: 30px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 260px;
}

.footer-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 60px;
  background: #fff;
  border-bottom-left-radius: 40px;
}

.right-logo {
  width: 65px;
  position: relative;
  z-index: 2;
}

.footer-right h2 {
  color: #fff;
  font-size: clamp(28px, 6vw, 50px);
  line-height: 1.05;
  font-weight: 700;
  margin: 0;
  position: relative;
  z-index: 2;
  max-width: 300px;
}
.support-btn {
  margin-top: 40px;
  width: 140px;
  height: 42px;
}

@media (min-width: 800px) {
  footer {
    min-height: 100vh;
    align-items: center;
  }

  .footer-container {
    flex-direction: row;
    align-items: stretch;
  }

  .footer-left {
    border-radius: 100px;
    padding: 40px 60px;
  }

  .footer-left::after {
    width: clamp(160px, 20vw, 250px);
    height: clamp(90px, 10vw, 130px);
    bottom: -70px;
    border-top-left-radius: 50px;
  }

  .footer-columns {
    flex-direction: row;
    gap: 80px;
    margin-top: 50px;
  }

  .footer-right {
    max-width: 390px;

    border-radius: 100px 0 100px 100px;
    padding: 42px;
  }
  .footer-right {
    align-self: flex-start;
    height: 450px;
    flex-shrink: 0;
  }

  .footer-right::before {
    width: 100px;
    height: 70px;
    right: -20px;
    top: -5px;
    border-bottom-left-radius: 50px;
  }

  .support-btn {
    position: absolute;
    right: 45px;
    bottom: 80px;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 999px;
    background: #ef2b2d;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
  }
}
